{%include 'doctor_header.html'%}
<div style="margin-bottom: 1em; background:url('/static/assets/img/patient.jpeg') ; height: 300px; width: 100%; background-size: cover;" >
	</div>
<center>
	<h1>Patients</h1>
	<table  class="table" style="width:500px">
		<tr>
			<th>Slno</th>
			<th>NAME</th>
			<th>PLACE</th>
			<th>PHONE</th>
			<th>EMAIL</th>
			
		
		</tr>
		{%for row in data['tr']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['fname']}} {{row['lname']}}</td>
			<td>{{row['place']}}</td>
			<td>{{row['phone']}}</td>
			<td>{{row['email']}}</td>
			<td><a href="doctor_message?receiver_id={{row['login_id']}}" class="btn btn-outline-danger">Chat</a></td>
			
	
		</tr>
		{%endfor%}
	</table>
</center>
<br><br><br>
{%include 'footer.html'%}