{%include 'public_header.html'%}
 <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-6 d-flex flex-column justify-content-center"> -->
<center>
	<h1> LOGIN </h1>
	<form method="post">
		<table class="table" style="width:500px;">
			<tr>
				<th>USERNAME</th>
				<td> <input type=" text" id="username" placeholder="Enter your Username" pattern="[A-Za-z0-9]+"  name="uname" class="form-control" required=""></td>
			</tr>
			<tr>
				<th> PASSWORD</th>
				<td><input type="password" name="password" placeholder="Enter your Password" class="form-control" required=""   ></td>
			</tr>
			<tr>
				<td  colspan="2" align ="center"><input type ="submit" name="submit" value="LOGIN"class="btn btn-danger"></td>
			</tr>
		</table>
			
	</form>
</center>
 </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
{%include 'footer.html'%}